
p{
    color: rgb(170, 166, 224);
    text-align: left;
    width: 40%;
    margin-left: 12%;
    margin-top: 3%;
}
.heading_about{
    background: #fc7474; 
  background: -webkit-linear-gradient(to right, #e04a4a, #9932cc); 
  background: linear-gradient(to right, #ff0000, #9932cc); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    margin-left: 20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -48%;
    font-size: 3.5rem;
    
}
.bar1{
    width: 300px;
    height: 10px;
    margin-left: -20%;
    margin-top: 31%;
    border-radius: 17px ;
    /* position: absolute; */
    /* left: 10%; */
    /* margin-top: -50px; */
    /* top:-10px; */
    background-color: aliceblue;
}
.skill_n{
    /* position: absolute; */
    /* color: #6b59e3; */
    color: rgb(127, 119, 243);
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: -170px;
    margin-top: 14vh;
}
.jkkk{
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
}
.inner_bar1{
    width: 200px;
    height: 10px;
    border-radius: 17px;
    background-color:#e04a4a;
    /* position: absolute; */
}

.right_container{
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 10%;
}
.boy{
    position: absolute;
    margin-left: -40%;
    /* background-color: #e04a4a; */
    height: 400px;
    width: 400px;
    /* z-index: -1; */
    /* background-color: #e04a4a; */
}
.spot{
    margin-left: -20%;
    display: none;
    /* h
    eight: 40px; */
}
.tech{
    display: flex;
}
.lang2{
    margin-left: 60%;
}
.tech_head{
    /* color: rgb(108, 108, 237); */
    background: #fc7474; 
  background: -webkit-linear-gradient(to right, #e04a4a, #9932cc); 
  background: linear-gradient(to right, #ff0000, #9932cc); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    margin-left: -40%;
    margin-top: 5%;
}
.lang1{
    margin-left: 3%;
}
@media screen and (max-width: 480px) {
    .tech_head{
        /* color: rgb(32, 32, 236); */
        background: #fc7474; 
  background: -webkit-linear-gradient(to right, #e04a4a, #9932cc); 
  background: linear-gradient(to right, #ff0000, #9932cc); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
        margin-left: 1%;
        font-size: 0.8rem;
    }
    .boy{
        height: 180px;
        width: 180px;
        margin-left: 28%;
        margin-top: 8%;
        /* margin-right: auto; */
    }
    .tech{
        display: flex;
    }
    .l{
        width: 70px;
    }
    .l2{
        width: 70px;
    }
    
    
    .lang1{
        margin-left: 3%;
        width: 30px;
    }
    .lang2{
        margin-left: 100%;
    }
    .heading_about{
        font-size: 2rem;
        margin-left: auto;
    }
    .content_about{
        /* width: 30%; */
        width: 300px;
    }
    .spot{
        margin-left: 45px;
        margin-top: 55%;
        visibility: visible;
        display: block;
    }
    .jkkk{
        display: flex;
        flex-direction: column;
    }
}